:root {
  --dark-color: #313131;
  --light-color: #f5f5f5;
  --blue-color: #0a285f;
  --yellow-color: #fbca3c;
  --gray-color: #616161;
  --red-color: #ee1515;
  --padding: 10px;
  --margin: 5px;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--dark-color);
  color: var(--light-color);
  font-family: 'Press Start 2P', sans-serif;
  line-height: 1.6;
  min-height: 100vh;
}

.navbar {
  background-color: var(--dark-color);
}

.search-button {
  color: var(--light-color);
}

.container {
  margin-top: 5rem;
  background-color: var(--gray-color);
  max-width: 750px;
}

h1 {
  padding: var(--padding);
  font-size: 1.25em;
  text-align: left;
  margin: var(--margin);
}

.list-group-item {
  background-color: var(--light-color);
  margin-bottom: 0;
  border: none;
}

.content {
  padding-left: var(--padding);
  margin-left: var(--margin);
}

.button-style {
  background-color: var(--light-color);
  border-color: var(--yellow-color);
  color: var(--blue-color);
  padding-top: 32px;
  padding-bottom: 32px;
}

.button-style:hover,
.button-style:focus {
  cursor: pointer;
  background-color: var(--yellow-color);
  border-color: var(--blue-color);
}

.button-style:active,
.button-style:active {
  background-color: var(--red-color);
  border: 5px solid var(--dark-color);
  color: var(--light-color);
}

.modal {
  color: var(--blue-color);
}

.modal-dialog {
  margin-top: 15%;
}

.modal-img {
  margin-top: -20px;
  width: 40%;
}

#btn-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  border-radius: 50%;
}

@media all and (max-width: 768px) {
  .button-style {
    padding: 20px auto;
  }
}
